.ivr-marker {
  cursor: pointer;
  height: var(--node-size);
  width: var(--node-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ivr-mark {
  position: absolute;
  height: var(--node-size);
  width: var(--node-size);
  border-radius: 50%;
  box-shadow: var(--shadow-01);
  box-shadow: var(--shadow-01);
  transition: all 0.3s var(--ease);
}

.ivr-marker svg{
  position: absolute;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
  z-index: -1;
}

.ivr-marker:hover .ivr-mark-label-wrap{
  z-index:500;
}

.ivr-marker:hover .ivr-mark {
  box-shadow: var(--shadow-02);
  
}

.ivr-marker-active{
    z-index:5000000
}

/* .ivr-mark-selected {
  background-color: var(--bg);
  transform: scale(1);
} */

.ivr-mark-label-wrap{
    line-height: 0;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.12))
}

.ivr-mark-label {   
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 12px;
}

.ivr-mark-stroke{
-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--bg);
}

.ivr-Led .ivr-mark{
  background-color: var(--Led);
}

.ivr-Partnership .ivr-mark{
  background-color: var(--Partnership);
}

.ivr-Collaboration .ivr-mark{
  background-color: var(--Collaboration);
}

.ivr-Led{
  stroke: var(--Led);
}

.ivr-Partnership{
  stroke: var(--Partnership);
}

.ivr-Collaboration{
  stroke: var(--Collaboration);
}

.ivr-NationState .ivr-mark{
  transform: rotate(45deg);
  border-radius: 0%;
}

