.ivr-marker {
  cursor: pointer;
  height: var(--node-size);
  width: var(--node-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ivr-icon {
  overflow: visible;
  position: absolute;
  height: var(--node-size);
  width: var(--node-size);
  filter: drop-shadow(var(--shadow-01));
  transition: all 0.3s var(--ease);
}

.ivr-line{
  position: absolute;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
  z-index: -1;
}

.ivr-marker:hover .ivr-mark-label-wrap{
  z-index:500;
}

.ivr-marker:hover .ivr-icon {
  filter: drop-shadow(var(--shadow-02));
}


.ivr-mark-label-wrap{
    line-height: 0;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.12))
}

.ivr-mark-label {   
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 12px;
}

.ivr-mark-stroke{
-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--bg);
}

/* .ivr-Led .ivr-icon{
  background-color: var(--Led);
}

.ivr-Partnership .ivr-icon{
  background-color: var(--Partnership);
}

.ivr-Collaboration .ivr-icon{
  background-color: var(--Collaboration);
} */

.ivr-Led{
  stroke: var(--Led);
  fill: var(--Led);
}

.ivr-Partnership{
  stroke: var(--Partnership);
  fill: var(--Partnership);
}

.ivr-Collaboration{
  stroke: var(--Collaboration);
  fill: var(--Collaboration);
}

